<ng-template [ngIf]="isLoading">
  <div class="container">

    <mat-form-field appearance="fill" class="input-style">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="usersFilter($event)" #input>
    </mat-form-field>

    <table mat-table [dataSource]="dataTable" class="table">
      <ng-container matColumnDef="photo">
        <th mat-header-cell *matHeaderCellDef>Photo</th>
        <td mat-cell *matCellDef="let photo">
          <img [src]="photo.picture.medium" alt="users-photos">
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let user">
          <a [routerLink]="['/users', user.id]"> {{user.name.first}} </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="surname">
        <th mat-header-cell *matHeaderCellDef>Surname</th>
        <td mat-cell *matCellDef="let user">
        <span [ngStyle]="{'color': (user.rating <= -3) ? '#800000' : '#fff'}">
          {{user.name.last}}
        </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let user"> {{user.email}} </td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef>Phone</th>
        <td mat-cell *matCellDef="let user"> {{user.phone}} </td>
      </ng-container>

      <ng-container matColumnDef="stars">
        <th mat-header-cell *matHeaderCellDef>Stars</th>
        <td mat-cell *matCellDef="let user; let idx = index">
          {{user.rating}}
          <fa-icon [icon]="likeIcon"
                   (click)="updateRating(user.id,+1)"
                   class="icon like"
          ></fa-icon>
          <fa-icon [icon]="dislikeIcon"
                   (click)="updateRating(user.id,-1)"
                   class="icon dislike"
          ></fa-icon>
          <fa-icon [icon]="deleteIcon"
                   (click)="deleteUser(user.id)"
                   class="icon delete"
          ></fa-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  </div>
</ng-template>
