mat-toolbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    text-decoration-line: none;
    color: aliceblue;
    margin: 0 10px;
    font-weight: lighter;

    &.active {
      color: aquamarine;
    }
  }

}
