.container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Helvetica Neue", sans-serif;

  .user-container {
    width: 49%;

    .user-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      width: 95%;
      border: 1px solid #c2f507;
      box-shadow: 0 0 10px rgba(3, 231, 3, 0.4);
      margin: 5px;
      border-radius: 12px;

      .header-title {
        font-size: 15px;
        font-weight: bold;
        color: rgba(86, 134, 255, 0.46);
      }

      .user-avatar {
        img {
          border-radius: 50%;
        }
      }

      .user-credentials-container {
        width: 90%;

        .user {
          display: flex;
          justify-content: center;
          margin: 5px 0;
          font-weight: normal;
        }

        .user-email {
          text-align: center;
          overflow-wrap: anywhere;
        }
      }
    }
  }
}
