<div class="container">
  <div class="user-container"
       *ngFor="let starUser of filteredUsers; let idx = index"
  >
    <div class="user-wrapper">
      <div class="user-header">
        <div class="header-title">
          Leader {{idx + 1}}
        </div>
      </div>
      <div class="user-avatar">
        <img [src]="starUser.picture.large" alt="user avatar">
      </div>
      <div class="user-credentials-container">
        <div class="user-credentials">
          <div class="user">Gender: {{starUser.name.title}}</div>
          <div class="user">Name: {{starUser.name.first}}</div>
          <div class="user">Last Name: {{starUser.name.last}}</div>
          <div class="user-email">Email: {{starUser.email}}</div>
          <div class="user">Phone: {{starUser.phone}}</div>
          <div class="user">Rating: <span
            [ngStyle]="{
            'color': (starUser.rating > 0) ?
            '#0eff30' :
            '#050000'
            }"
          >{{starUser.rating}}
          </span></div>
        </div>
      </div>
    </div>
  </div>
</div>
