html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


a {
  text-decoration-line: none;
  color: white;

  &:hover {
    color: aquamarine;
  }
}

.icon {
  font-size: 20px;
  margin: 10px;

  &.like:hover {
    color: lawngreen;
  }

  &.dislike:hover {
    color: #e83939;
  }

  &.delete:hover {
    color: #ee2300;
  }

}

