.container {
  display: flex;
  justify-content: center;

  .mat-card-container {
    width: 450px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    img {
      width: 150px;
      height: 150px;
    }

    .icons {
      width: 100%;
      margin: 10px;
      font-size: 30px;

      &.like {
        color: green;
      }

      &.dislike {
        color: red;
      }
    }
  }
}


