<ng-template [ngIf]="isLoading">
  <div class="container">
    <mat-card class ='mat-card-container'>
      <mat-card-header>
        <img mat-card-avatar [src]="findUser?.picture?.medium" alt="user avatar">
      </mat-card-header>
      <mat-card-content>

        <mat-card-subtitle>
          <fa-icon [icon]="faUser"></fa-icon>
          Name: {{findUser?.name?.first}}
        </mat-card-subtitle>

        <mat-card-subtitle>
          <fa-icon [icon]="faLastName"></fa-icon>
          Last Name: {{findUser?.name?.last}}
        </mat-card-subtitle>

        <mat-card-subtitle>
          <fa-icon [icon]="faEnvelope"></fa-icon>
          Last Name: {{findUser?.name?.last}}
        </mat-card-subtitle>

        <mat-card-subtitle>
          <fa-icon [icon]="faMobile"></fa-icon>
          Phone: +{{findUser?.phone}}
        </mat-card-subtitle>

        <mat-card-subtitle>
          <fa-icon [icon]="faStar"></fa-icon>
          Rating: {{findUser?.rating}}
        </mat-card-subtitle>
      </mat-card-content>

      <mat-card-subtitle>
          <fa-icon [icon]="faLike" (click)="updateRating(findUser!.id,  +1)" class="icons like"></fa-icon>
          <fa-icon [icon]="faDislike" (click)="updateRating(findUser!.id,  -1)" class="icons dislike"></fa-icon>
      </mat-card-subtitle>
    </mat-card>
  </div>
</ng-template>

